.EditorBackground {
	background-color: #dbdbdb;
	width: 100vw;
	height: 100vh;
}
.PreviewContainer {
	max-width: 90vw;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
}
.docPreview {
	width: 100%;
	background-color: white;
	margin: 20px auto;
}

.tabButton {
	position: fixed;
	bottom: 3%;
	right: 1%;
	border: none;
	color: white;
	font-size: 15px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 15px;
	background-color: #ff7d4b;
	border-radius: 6px;
}
.SplitPane.vertical {
	padding-top: 45px;
}
.Resizer {
	background: #000;
	opacity: 0.2;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.Resizer:hover {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.Resizer.horizontal {
	height: 11px;
	margin: -5px 0;
	border-top: 5px solid rgba(255, 255, 255, 0);
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	cursor: row-resize;
	width: 100%;
}

.Resizer.horizontal:hover {
	border-top: 5px solid rgba(0, 0, 0, 0.5);
	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
	margin: 0 -5px;
	border-left: 5px solid rgba(255, 255, 255, 0);
	border-right: 5px solid rgba(255, 255, 255, 0);
	cursor: col-resize;
}

.Resizer.vertical:hover {
	border-left: 5px solid rgba(0, 0, 0, 0.5);
	border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
	cursor: not-allowed;
}
.Resizer.disabled:hover {
	border-color: transparent;
}

.HelpPopup {
	top: 0%;
	bottom: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.HelpBG {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
}
