.Navbar {
	display: flex;
	z-index: 9;
	padding: 8px;
	width: 100%;
	align-items: center;
	height: 50px;
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
}
.BackButtonContainer {
	width: 30px;
	min-width: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.BackButton {
	margin-top: 4px;
	max-width: 50%;
	max-height: 50%;
}
.fa-chevron-left{
	margin-top: 4px;
	max-width: 50%;
	max-height: 50%;
	text-align: center;
}
.Heading {
	margin-top: 2px;
	cursor: default;
	max-width: 60vw;
	font: Medium Montserrat;
	font-size: 25px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0px;
	color: #000000;
}
.DocumentName {
	margin-top: 2px;
	padding-left: 2px;
	border: 1px solid transparent;
	width: 50vw;
	cursor: auto;
	font: Medium Montserrat;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0px;
	color: #000000;
	text-align: left;
	height: 35px;
}
.DocumentName:focus {
	border: 1px solid #ff7d4b;
	width: 70vw;
}
.searchBox {
	max-width: 1000px;
	font: Montserrat;
	font-size: 18px;
	margin-left: auto;
	height: 35px;
	width: 40vw;
	border: 2px #adadad solid;
	border-radius: 10px;
}
.searchBox:focus-within {
	border: 2px solid black;
}
.searchBox input[type="text"] {
	border: none;
	margin-left: 7px;
	height: 100%;
	width: calc(100% - 50px);
}
.searchBox input[type="text"]:focus {
	outline: none;
}
/* .searchText { */
/* 	border: none; */
/* 	margin-left: 7px; */
/* 	height: 100%; */
/* 	width: calc(100% - 50px); */
/* } */
/* .searchText:focus-within { */
/* 	border: none; */
/* 	margin-left: 7px; */
/* 	height: 100%; */
/* 	width: calc(100% - 50px); */
/* } */
.searchIcon {
	float: left;
	margin-left: 10px;
	width: 15px;
}
.searchImage {
	max-width: 100%;
	max-height: 100%;
}
.ExportButton {
	border: none;
	color: white;
	font-size: 15px;
	padding: 2px;
	width: 120px;
	min-width: 120px;
	margin-left: auto;
	margin-right: 15px;
	background-color: #ff7d4b;
	padding: 3px;
	border-radius: 6px;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	cursor: pointer;
}
.Settings {
	width: 35px;
	min-width: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.SettingsMargin {
	width: 35px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
}
