.Navbar {
	display: flex;
	z-index: 9;
	padding: 8px;
	width: 100%;
	align-items: center;
	height: 50px;
	background-color:white;
	box-shadow: 0px 3px 6px #00000029;
}
.BackButtonContainer {
	width: 30px;
	min-width: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.BackButton {
	margin-top: 4px;
	max-width: 50%;
	max-height: 50%;
}
.Heading {
	margin-top: 2px;
	cursor: default;
	max-width: 60vw;
	font: Medium Montserrat;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0px;
	color: #000000;
}
.DocumentName {
	margin-top: 2px;
	padding-left: 2px;
	border: 1px solid transparent;
	width: 50vw;
	cursor: auto;
	font: Medium Montserrat;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0px;
	color: #000000;
	text-align: left;
}
.DocumentName:focus {
	border: 1px solid #ff7d4b;
	width: 70vw;
}
.ExportButton {
	border: none;
	color: white;
	font-size: 15px;
	padding: 2px;
	width: 120px;
	min-width: 120px;
	margin-left: auto;
	margin-right: 15px;
	background-color: #ff7d4b;
	padding: 3px;
	border-radius: 6px;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.Settings {
	width: 35px;
	min-width: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.SettingsMargin {
	width: 35px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo {
	max-width: 100%;
	max-height: 100%;
}
