
.App{
  text-align: center;
  font-family: monospace;
}
/* Login page */


.loginpage{
  margin-top: 5%;
}
.login-form{
  margin: 10% 12.5% 0;
  text-align: left;
  
}
.ant-input, .ant-input-number{
  width: 100%;
  border: 2px solid gray;
  border-radius: 6px;
  height: 40px;
}   
.ant-form-item{
  margin: 30px 0;
  width: 30vw;
}
/* ant-row ant-form-item */
.login-form-button, .ant-btn-primary{
  height: 44px;
  background-color: gray;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 20px;
  box-shadow: 0px 0px 4px lightgray;
}

@media(max-width: 700px){
  .ant-form-item{
    width: 50vw;
  }
}